@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

h1{
  font-size: $h1;
}

h2{
  font-size: $h2;
}

h3{
  font-size: $h3;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  font-weight: 300;
}

a:hover{
  text-decoration: underline;
}

p{
  font-weight: 300;
  line-height: 1.5;
  font-size: $base;
}