//Colors
$light: #FFFFFA;
$main-brand: #F9F7C7;
$base: #005581;

//Font sizes
$base: 16px;
$small: 12px;

$h1: 60px;
$h2: 50px;
$h3: 38px;
$h4: 28px;
$h5: 21px;
$h6: $base;

//Gaps
$base-gap: 40px;
$double-gap: $base-gap * 2;