.about{
  padding: calculate-gap(3) $base-gap calculate-gap(3) $base-gap;
}
.about__title{
  margin-bottom: 10px;

  @include breakpoint-down(small){
    &{
      font-size: $mobile-h2;
    }
  }
}

.about__description{
  margin-bottom: $base-gap;
}

.about__image{
  width: 80%;

  @include breakpoint-down(medium){
    justify-content: center;
    width: 100%;
    margin-left: calculate-gap(4); //Balancing out left space from image
  }
}