.header{
  background-color: $main-brand;
  padding: 10px $base-gap;
}

.logo{
  padding-left: 15px;
  color: #000;
  font-weight: bold;
  font-size: $h5;
}

.menu{

  justify-content: end;

  &__item{
    padding: 15px;
  }

  &__link{
    color: #000;
  }
}